/***********/
/* Effects */
/***********/
.neon-text {
  /* font-family: Bad Script; */
  /* text-transform: uppercase; */
  text-shadow: 0 0 0.4em lightyellow;
  opacity: 1;
  animation: flicker linear alternate 5s infinite;
}
@keyframes flicker {
	0%  {opacity: 0.6}
	25% {opacity: 0.8}
	50% {
		opacity: 1;
    color: white;
    filter: saturate(200%);
	}
	55% {opacity: 0.2}
	75% {opacity: 0.8}
	90% {opacity: 0.5}
	100% {opacity: 1}
}

.item {
  width: 18em;
  height: 18em;
}
.item-blank {
  width: 3em;
  height: 3em;
}

.circle {
  background: radial-gradient(
    ellipse at center,
    rgba(50,50,50,1) 0%,
    rgba(50,50,50,1) 64%,
    rgba(150,150,150,1) 64.5%,
    rgba(25,25,25,0) 65%
  );
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(360deg);
}

.item::before {
  content: "";
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: polygon(
    0 0, 98% 0, 60% 5%, 33% 17.5%, 12% 33%,
    5% 50%, 13.5% 66%, 33% 82.7%, 66% 95%,
    98% 100%, 0 100%
  );
  shape-margin: 1.4em;
}

.circle::before {
  content: "";
  float: right;
  height: 100%;
  width: 50%;
  shape-outside: polygon(
    2% 0%, 100% 0%, 100% 100%, 2% 100%,
    45% 94%, 72.5% 82.7%, 90% 66%, 98% 50%,
    90% 33%, 72.5% 17.5%, 45% 6%
  );
  shape-margin: 1.4em;
}

.animation-1, .animation-2, .animation-3,
.animation-4 {
  animation-timing-function: cubic-bezier(0.0,0.0,0.25,1.0);
}
.animation-1 {
  animation-duration: 4s;
  animation-name: entrance-1;
}
@keyframes entrance-1 {
  /* circle circonf = 3.14x18x0.65 */
  /* 0%   {margin-left: -36.738em} */
  0%   {margin-left: -55.107em;
    transform: rotate(-540deg)}
  /* 90%  {margin-left: 3.6738em;
  transform: rotate(756deg)}
  90.1%  {transform: rotate(-0deg)} */
  100% {margin-left: 0em;
    transform: rotate(0deg)}
}
.animation-2 {
  animation-duration: 4.5s;
  animation-name: entrance-2;
}
@keyframes entrance-2 {
  0%   {margin-left: -73.476em;
    transform: rotate(-720deg)}
  100% {margin-left: 0em;
    transform: rotate(0deg)}
}
.animation-3 {
  animation-duration: 5s;
  animation-name: entrance-3;
}
@keyframes entrance-3 {
  0%   {margin-left: -91.845em;
    transform: rotate(-900deg)}
  100% {margin-left: 0em;
    transform: rotate(0deg)}
}
.animation-4 {
  animation-duration: 5.5s;
  animation-name: entrance-4;
}
@keyframes entrance-4 {
  0%   {margin-left: -110.214em;
    transform: rotate(-1080deg)}
  100% {margin-left: 0em;
    transform: rotate(0deg)}
}

:root {
  /* Init cursor position. Modif with JS */
  --X: 10vw;
  --Y: 60vh;
  --DISPLAY: none;
  --OPACITY: 0.1;
}
:root::before {
  content: '';
  display: var(--DISPLAY);
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle 10em at var(--X) var(--Y),
    rgba(50,50,50,0) 0%,
    rgba(52,52,52,0.1) 70%,
    rgba(52,52,52,0.4) 90%,
    rgba(50,50,50,0.9) 100%
  );
  pointer-events: none;
  z-index: 1;
}
