/*********/
/* Fonts */
/*********/
@font-face {
  font-family: TitleFont;
  src:  url('../fonts/Caviar-Dreams/CaviarDreams.ttf');
}
@font-face {
  font-family: TextFontLight;
  src: url('../fonts/fira-code/static/FiraCode-Light.ttf');
}
@font-face {
  font-family: TextFontBold;
  src: url('../fonts/fira-code/static/FiraCode-SemiBold.ttf');
}
h1 {
  font-family: TitleFont;
}
h2, p {
  font-family: TextFontLight;
}

h1, h2 {
  font-weight: 400;
  color: rgb(250,250,250);
}

h1, h2 {
  letter-spacing: 0.5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
  color: rgb(150,150,150);
}

.bigger-size {
  font-size: 1.3em;
}

.white-text {
  color: rgb(250,250,250)
}

.bolder-text {
  font-family: TextFontBold;
}

.text-interline-up {
  line-height: 1.7em;
}
.text-interline-down {
  line-height: 1.2em;
}
