html {
  font-size: 100%;
}

body {
  background-color: rgb(50,50,50);
}


/*********/
/* Fonts */
/*********/
h1, h2, h3, p {
  font-family: Droid Sans Mono;
  font-weight: 400;
  color: rgb(200,200,200);
}

h1 {
  font-size: 3.5em;
  /* line-height: 30px; */
}

h2 {
  font-size: 2em;
  /* line-height: 0px; */
}

p {
  font-size: 1em;
  color: rgb(150,150,150);
}


/************/
/* Pictures */
/************/
#avatar {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 33%;
  margin-right: 2em;
}


/**********/
/* Button */
/**********/
.round-button {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: relative;
  top: 0.5em;
}
.round-button:hover {
  transform: scale(1.2);
  transition: 0.2s ease-out;
}


/*******/
/* Div */
/*******/
.container {
  width: 50%;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.separator {
  border-bottom: 0.1em solid rgb(150,150,150);
  padding-bottom: 1em;
}

.card-1 {

  /* background-color: #F8EDE3; */
  /* padding: 30px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* border: thin solid #A2B29F; */
  /* box-shadow: 2px 2px 5px #A2B29F; */
  /* text-align: center */
}

.list-inline li {
  list-style:none;
  display: inline-block;
  margin: 0 0.5em;
}

.list-inline i {
  font-size: 2em;
  color: rgb(200,200,200);
}

.list-inline i:hover {
  color:rgb(50,50,50);
}

#footer {
  background-color: rgb(150,150,150);
  text-align: center;
  padding: 0.5em;
}
